/* CSS Document */

  
/*  Projet P2  - 25/02/2021 */


@font-face {
  font-family: "Raleway";
  src: url("polices/Raleway/static/Raleway.ttf");
}

@font-face {
  font-family: "Raleway-thin";
  src: url("polices/Raleway/static/Raleway-Thin.ttf");
}


h2, h3 {
    color:black;
    font-family: 'Raleway', Arial, serif;
}

body {
  color: black;
  font-family: 'Raleway', Arial, serif;
  /* color: #0065FC;  Les couleurs de la charte sont le bleu #0065FC, et sa version plus claire #DEEBFF */
}

.header1 {
  display: flex;
  flex-wrap: wrap; 
  align-items: center;  
  justify-content: space-between;
  margin : 10px;
}

#logo{
  justify-self: left;
}


.headernav1{
  font-family: 'Raleway', Arial, serif;
  display: flex; 
  flex-wrap: wrap; 
  align-items: center; 
  margin-right: 8%;  
}

.headernav1 a{
  text-decoration: none; 
} 

.headernav1 a:hover {  /* Apparence au survol des liens */    
 text-decoration: underline;
 color: green;
      }

/*    flex-grow: 1;
  order: 2;   */  


#lien-hebergement{
  margin: 10%;
}

 .bleue {
  color: #0065FC;  
 }

#lien-activites{
 margin: 10%;
}

.noire {
  color: black;  
 }

#lien-inscrire{
   font-weight: bold;
   margin: 10%;
}

.rechercher-desktop {
 display: none;
}

.rechercher-mobile {
  display: flex; 
  flex-direction: row;
  height: 40px;
  width: 90%; 
}


.icone-map {
  background-color: #979090;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 5px; 
  border-bottom-left-radius: 5px; 
  
}


.rechercher-mobile input{
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  color: black;
  width: 80%; 
}
  .icone-search{
  background-color: #0065FC;
  color: white;
  height: 40px; 
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px; 
  border-radius: 10px; 
}


.header3 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
/*  flex-direction : column; */
  justify-content : start;
  padding-right: 10px; 
  margin: 2%;

}

.titre-filtres {
  font-size: 25px;
  font-weight: bold;
  margin-top: 20px;
  margin-right: 150px;
  margin-bottom: 20px;
}

.choix {
  display: flex;
  border: 1px solid #0065FC;
  border-radius: 20px;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 10px;
}

.choix-icone {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #DEEBFF;
  border-radius: 20px;
  width: 40px;
  height: 40px;
}

.choix-texte {
  padding: 0 5px;
  padding-right: 15px;
  font-weight: bold;
  margin-left: 10px;
}


.icone-info{
  border: 1px solid #DEEBFF;
  border-radius: 10px;
  padding-left: 10px;
  margin-right: 5px; 
}

.fa-info {
  color : #0065FC;
  padding-right: 5px;
  border-radius: 2px, solid, #0065FC;
}

.header4{
  color : #0065FC;
  margin-bottom: 30px;
}

#info{
  color : black;
}

.cadre-haut{
  display: flex;
  flex-direction: column;    
}


#populaires{
  background-color:  #F2F2F2; /* Le fond de page gris */
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding-right: 10px;
}


.header5 {
  display:inline-flex;
  justify-content: space-between;
  font-size:25px;
  font-weight: bold;
  margin: 20px;
}

#hebergements{
  background-color:  white;  
  flex-direction: column;
  border-radius: 20px;
  width: auto;
  padding-right: 10px;
}

.lien2 {
    text-decoration: none; 
    color: black;
}


.lien2: hover {
    background-color: grey;

}

.header6 {
  font-size:25px;
  font-weight: bold;
  margin: 20px;
}

#groupe2{
     display: flex;
     flex-direction: column; 
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: space-evenly;
     width: auto;
   
}

.boite-image-haut {
  display: flex;
  flex-direction: column; 
  background-color: white;
  border-radius: 20px;
  width: auto;
  margin-left: 10px;
  margin-bottom: 15px;
  color: black;
  text-decoration: none;
  box-shadow: 0 0 20px #0000002e;
  padding-bottom : 15px;
}

.boite-image-haut p {
    margin: 0;
}

 .imgh {
  width: 96%;
  height: 150px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: 5px solid white;
  object-fit: cover;
}

.text-bas{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
   margin : 10px;
   padding-left : 10px;
}

.boite-image-gauche {
  display: flex;
  background-color: white;
  border: 5px solid white;
  border-radius: 20px;
  width: 95%;
  margin: 10px;  
  margin-bottom: 15px;
  }
  
.boite-image-gauche p {
    margin: 0;
}

.imgg {
  flex: 1;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  max-width: 180px;
  min-width: 180px;
  object-fit: cover;
  }


.texte-droit{
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: center;
  margin : 10px;
  height: 100%;
}

 
.ligne3{
  align-self: last baseline;
}

.ligne1{
  font-weight: bold;
}

.star-icon[data-active=true] {
  color: #0065FC;
}
  .star-icon[data-active=false] {
  color: #F2F2F2;
}


.cadre-bas{
  display: flex;
  flex-direction: column;
}

#activites{
    display: flex;
    flex-direction: column;    
    justify-content: space-evenly;
    align-items: start;
}

#activites h3 {
    margin-left: 0px ;
}


#cadre3 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  margin-bottom: 30px;
}

.lien3 {
    text-decoration: none;
    color: black;
}

.lien3 : hover {
  box-shadow: 0 0 15px #ccc;
  background-color : grey;
  border: 5px solid black;
  text-decoration: underline;
}



.boite-31 {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0 0 20px #0000002e;
}

.img31 {
   max-height: 160px;
   object-fit: cover;
}

.boite-32 {
  display: flex;
  flex-direction: column;
  border-radius: 20px;

}

.boite-image-32 {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0 0 20px #0000002e;       /* ajouter ombre */
}

.img32 {
   height: 160px;
   object-fit: cover;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   border: 5px solid white;              
}


   
#cadre3 ligne1{
     width: 100%;
     display: inline
}


.img31 {
  border-radius: 20px;
  border: 5px solid white;
  object-fit: cover;
}

.img32 {
  
}


/*  Footer  */

.footer {
  background-color: #F2F2F2;
  
 }
 
.cadre-footer {
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  
  margin: 20px;
}

.block-footer {
  background-color: #F2F2F2;
  width: 100%;
  padding: 20px 20px;
}

.titre-footer {
  font-weight: bold;
}

.block-footer a {
  display: block;
  text-decoration: none; 
  color  :black; 
  margin-top: 10px;
}

.block-footer a: hover {
    text-decoration: underline;
}



